/*.end-content {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

.end-gif {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.end-gif {
		
	}
}