.top-info {
	background: linear-gradient(black, #464242);
	margin: 0px 0px 5px;
}


.top-info > span, .top-info > a {
	color: white;
	font-size: 1.6em;
	padding-left: 5px;
	padding-right: 5px;
}

#audio {
	margin-bottom: 10px;
}


.choice {
	height: 40px;
	margin: 5px 5px;
	background: #C2C2C2;
	background: linear-gradient(white, #C2C2C2);
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-radius: 5px;
	cursor: default;
	font-size: 120%;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background: #C2C2C2;
}

.opaque {
	opacity: 0.5;
}

.choice span {
	position: absolute;
	width: 100%;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.correct-choice {
	background: #1DB33B;
}

.incorrect-choice {
	background: #E42B3D;
}

@media only screen and (min-width: 768px) {
	.top-info {
		margin-bottom: 5px;
	}

	.top-info > a { 
		font-size: 3em;
	}

	.top-info > span {
		top: 25px;
	}

	.game-background {
		position: fixed;
		top: 0; bottom: 0;
		left: 0; right: 0;
		opacity: 0.5;
		background: #C0C0C0;
	}

	.choice {
		font-size: 150%;
	}
}