/* Styles for non-mobile screens */
@media only screen and (min-width: 768px) {

	.heading {
		padding-right: 30px;
	}

	.form-box {
		height: 200px;
		background-color: white;
		border: 1px solid black;
		border-radius: 5px;
		padding: 20px;
	}

	.heading > h1 {
		font-size: 50px;
	}
}