<div class='container-fluid'>
	<div class="row vertical-center">
		<div class="heading col-xs-12 col-md-4 col-md-offset-3 ">
			<h1 class='font-lg'>Composer Trivia</h1>
			<hr>
			<p class='lead'>Listen to some classical music, and see if you can tell the composer!</p>
		</div>

		<div class='form-box col-xs-12 col-md-2'>
			<form name='userForm' ng-submit='playGame()'>
				<div class='form-group has-feedback' ng-class='feedback'>
					<label for='userName'>What is your name?</label></br>
					<input type='text' class='form-control' name='userName'
						ng-model='user.name' 
						ng-model-options='{ debounce: 500 }' 
						ng-change='isAvailable()' 
						ng-keyup='cancel($event)' 
						maxlength='20' required>
					<span class='error-message' ng-bind='errorMessage'></span>
				</div>
				<input type='submit' ng-disabled='userForm.userName.$invalid	' class='btn btn-success btn-block' value='Play!'>
			</form>

		</div>	
	</div>
</div>