<div class="container-fluid">
	<div class='fullscreen'>
		<video class='fullscreen-vid' poster='self.jpg' muted loop autoplay>
			<source src='http://webm.land/media/EJTK.webm' type='video/webm'>
		</video>
	</div>

	<div class="row vertical-center">
		<div class="heading col-lg-4 col-lg-offset-3 col-xs-12">
			<h1 class='font-lg'>Composer Trivia</h1>
			<hr class="my-4">
			<p class='lead'>Listen to some classical music, and see if you can tell the composer!</p>
		</div>

		<div class='boxed col-lg-2'>
			<form name='playForm' ng-submit='post()'>
				<div class='form-group has-feedback' ng-class='feedback'>
					<label for='playerName'>What is your name?</label></br>
					<input type='text' class='form-control' name='playerName' ng-model='playerName' required> 	
					<span ng-class='glyphicon' class="glyphicon form-control-feedback"></span>
					<span ng-bind='message'></span>
				</div>
				<input type='submit' class='btn btn-success btn-block' value='Play!'>
			</form>

		</div>	
	</div>
</div>